body{
    background-color: rgb(236, 236, 236);
}
.container{
    display: flex;
}
main{
    flex-direction: row;

}
main div{
    margin-left: 25px;
    margin-top: 25px;
   
   
}
h2{
    margin-top: 25px;
    font-family: 'Architects Daughter', cursive;
 
}
@media only screen and (max-width: 575px){  
    .container{
    display: flex;
}
    main{
    flex-direction: column;
} 
main div{
    flex-direction: column;

}

}
@media only screen and (min-device-width : 768px) and (max-device-width : 1084px) {
    .container{
      
    }
  
    main div{
        display: inline-block;
       
    }
    
}
.card{
border: solid 1px rgb(99, 99, 99);
}
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

footer{
    background-color: rgb(182, 182, 182);
}
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
h3{
    font-family: 'Redressed', cursive;
}

